<!DOCTYPE html>
<html>
<head>
  <title>MiddleOf.Us</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/hover.css" rel="stylesheet" media="all">
  <script src="//maps.googleapis.com/maps/api/js?libraries=geometry,visualization,places&sensor=false&language=en&v=3.17"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body ng-app="myApp">
  <%= render 'layouts/navigation' %>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
