<!DOCTYPE html>
<html>
<head>
  <title>Middleofus</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="myApp">
  <%= render 'layouts/navigation' %>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
